@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Brand Colors & Primary Structure */
  --color-primary-dark: #2F4C40;       /* Header, section backgrounds, primary text */
  --color-second-dark: #037e4b;       /* Header, section backgrounds, primary text */
  --color-warm-cream: #f5ede0;         /* Accent surface, card backgrounds (inviting, natural) */

  /* Accents & Actions */
  --color-accent-terracotta: #c97a5c;  /* CTA buttons, highlights (warmth, appetite appeal) */
  --color-accent-sage: #8b9e7d;        /* Subtle accents, decorative elements (organic feel) */
  
  /* Typography & Text */
  --color-text-body: #3d3d3a;          /* Body text, secondary info (Dark Gray) */
  --color-text-muted: #b4b2a9;         /* Footer text, tertiary info (Light Muted) */
  --color-white-primary: #fff;
  /* Footer & Contrast */
  --color-bg-footer: #1a1a1a;          /* Footer background (Nearly Black) */

  --font-body: "Poppins",sans-serif;
  --font-heading: "Inter",sans-serif;

  --primary-padding: 40px 40px;
  --bottom-margin: 1rem;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    min-width: 100%;
    line-height: 1.6;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background-color: #FFFFFF;
    color: var(--color-text-body);
    font-family: var(--font-body);
}

section{
    margin-bottom: var(--bottom-margin);
}
/* ====== TYPOGRAPHY ==== */

h1{
    font-family: var(--font-heading);
    color: var(--color-white-primary);
    font-size: clamp(2rem,5vw + 1rem,5rem);

}
/* ----- CARD GRID TYPOGRAPHY ----- */
.menu-grid .menu-body h3{
    font-size: clamp(1.2rem, 2vw,1.5rem);
}
.menu-grid .menu-body p{
    font-size: clamp(1rem,2vw,1.2rem);
}
.menu-grid .menu-body .price{
    font-size: clamp(1.2rem,1.5vw,1.7rem);
}
.menu-grid .menu-body .menu-button{
    font-size: clamp(0.9rem,2vw,1.1rem);
}

.head-logo h2{
    font-size: clamp(1.25rem,3vw,2rem);
    color: var(--color-white-primary);
    letter-spacing: 3px;

}
.nav-container ul li a {
    font-size: clamp(0.9rem, 1.5vw, 1.6rem);
}
main h2{
    color: var(--color-primary-dark);
    font-size: clamp(1.8rem,3vw,3rem);
}

.hero-text p{
    font-size: clamp(1rem,1.5vw, 3rem);
}

footer p{
    font-size: clamp(1rem,1.5vw,1.4rem);
}
/* ========== HEADER ============ */
header{
    background-color: #2D4A3E;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 9999;
    top: 0;
}


/* ------ HAMBURGER ICON ---- */
.hamburger{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    border-radius: 25px;
    background-color: var(--color-white-primary);
    margin: 4px 0;
    transition: 0.3s;
}
/* ---------- NAVBAR ---------*/
.nav-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-primary-dark);
    display: none;
    padding: 10px 0;
}
/* ----- UTILITY CLASS WHEN TOGGLLE WITH JS FOR OPEN NAVIGATION -------- */
.nav-container.active{
    display: block;
}

.nav-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1.5rem;
}    

.nav-container ul li{
    text-align: center;
}    

.nav-container ul li a{
    display: block;
    color: var(--color-white-primary);
    font-family: var(--font-heading);
    font-weight: 500;
    transition: color 0.3s;

}    



/* ============ HERO SECTION ====== */

.hero-section{
    background-color: var(--color-primary-dark);
    padding: 50px 40px;
    color: var(--color-white-primary);
    min-height: 100svh; 
    width: 100%;

}
.hero-section .hero-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    text-align: center;
}
.hero-section .hero-content .hero-text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}


/* ---- HERO IMAGE ---- */

.hero-section .hero-coffe-img{
    width: clamp(300px,50vw,700px);
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}


.hero-section .hero-info .info-item{
    text-align: center;
}

/* -------- HERO OFFER GRID ------ */
.hero-section .hero-offerings{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.8rem;
    font-size: clamp(1rem, 1.5vw,1.4rem);
    font-weight: 600;
    list-style: outside;
}


/* ---- HERO BUTTON ---- */
.hero-section .hero-content .hero-button{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
}
.hero-section .hero-content .hero-button a{
    background-color: var(--color-warm-cream);
    color: var(--color-text-body);
    border-radius: 12px;
    padding: 6px 12px;
    display: inline-block;

    padding: clamp(0.6rem, 1.5vw, 0.8rem) clamp(1rem, 3vw, 5rem);
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    transition: ease .3s;
}


.hero-section .hero-content .hero-button .second{
    background-color: transparent;
    border: 2px solid var(--color-white-primary);
    color: var(--color-warm-cream);
}



/* ========= MENU SECTION ======== */

.menu-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 40px 20px;
}

.menu-section .menu-grid{
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 2rem;
    padding: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.menu-section .menu-grid::-webkit-scrollbar{
    display: none;
}
/* ----------CARD MENU ---------- */

.menu-section .menu-grid .menu-card{
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0 0 0 / 0.3);
    overflow: hidden;
    scroll-snap-align: center;
    transition: ease .3s;
    cursor: pointer;
}


.menu-section .menu-grid .menu-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.menu-section .menu-grid .menu-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-section .menu-grid .menu-button{
    background-color: var(--color-second-dark);
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: var(--color-warm-cream);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.price{
    font-weight: bold;
    color: var(--color-accent-terracotta);
}
/* ============ FOOTER ======== */
footer{
    background-color: var(--color-bg-footer);
    color: var(--color-text-muted);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer .copyright-footer{
    font-weight: bold;
    color: var(--color-white-primary);
}
/* ====== Break Point tablet ====== */
@media (min-width: 48em){
   
    /* ========= MENU SECTION ========== */
    .menu-section .menu-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 1.6rem;
        grid-auto-flow: row;
        overflow-x: visible;
    }

    
}
/* ====== Break Point Desktop ====== */
@media (min-width: 64em){
    /* ===== HEADER & NAVBAR ==== */
    .hamburger{
        display: none;
    }
    .nav-container{
        display: block;
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
        padding:0  1.5rem;
    }

    .nav-container ul{
        flex-direction: row;
    }


    /* ====== HERO SECTON ====== */
    .hero-section .hero-content{
        grid-template-columns: repeat(2,1fr);
    }
    .hero-section .hero-content .hero-button{
        flex-direction: row;
        width: max-content;
    }

    /* =========== MENU SECTION ========== */
    .menu-section .menu-grid{
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        

    }
    .menu-section .menu-grid .menu-image{
        height: 200px;
    }
    
}
/* ==== Hover Reasponsive ==== */
@media (hover: hover) and (pointer :fine){
    /* ======= NABAR === */
    .nav-container ul li a:hover{
        color: var(--color-accent-terracotta);
    }

    /* ==== HERO HOVER === */
    .hero-section .hero-content .hero-button a:hover{
        transform: translateY(-3px);
}

    /* ==== CARD GRID ==== */
    .menu-section .menu-grid .menu-card:hover{
        transform: translateY(-4px);
        box-shadow: 0 0 8px var(--color-accent-sage);
    }
    .menu-section .menu-grid .menu-button:hover{
        background-color: #049a5b;
    }

}

@media (hover: none){
    .menu-section .menu-grid .menu-button:active{
        background-color: #049a5b;
        transform: scale(0.97);
    }
    .hero-section .hero-content .hero-button a:active{
    transform: scale(0.97);
}
}