*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    background-color: #e79090;
}


/* ========== HEADER ============ */
header{
    background-color: #2D4A3E;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------ HAMBURGER ICON ---- */
.hamburger{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}
/* ---------- NAVBAR ---------*/
nav{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    gap: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
}

/* ====== Break Point Desktop ====== */
@media (min-width: 64em){
    .hamburger{
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
    }
}